<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <div class="header">
    <img th:src="@{/images/logo.png}" class="logo">
    <div class="header-right">
        <a href="/aboutUs">ABOUT US</a>
        <a href="/ourServices">OUR SERVICES</a>
        <a href="/blog">BLOG</a>
        <a href="/contactUs">CONTACT US</a>
        <a href="/organizerLogin">LOGIN AS ORGANIZER</a>
        <a href="/userLogin">LOGIN AS USER</a>
    </div>
    </div>
</div>
</body>
</html>