<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="loggedInHeader">
    <div class="header">
    <img th:src="@{/images/logo.png}" class="logo">
    <div class="logged-header-right">
        <a href="/aboutUs">ABOUT US</a>
        <a href="/ourServices">OUR SERVICES</a>
        <a href="/blog">BLOG</a>
        <a href="/contactUs">CONTACT US</a>
        <a href="/userLogout">LOGOUT</a>
        <div class="userDetails">
            <img th:src="@{/images/login-logo.png}" class="login-logo">Welcome User
        </div>
    </div>
    </div>
</div>
</body>
</html>