body {
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  color: #002d62;
  font-weight: 700;
}
input[name="email"] {
  width: 410px;
  min-height: 30px;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
}
input[name="Login"] {
  background-color: #002244;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  width: 250px;
  height: 40px;
  margin-left: 1px;
  margin-top: 30px;
}


.left {
  padding-left: 3em;
  top: 20px;
  width: 46%;
}

.right {
  right: 0;
}
.image {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}
.btn {
  cursor: pointer;
  border: none;
  background: none;
  width: 20px;
  height: 20px;
}
input[type="submit"].btn:hover {
  border: 1px solid black;
}

.left-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 25%;
}

.image-align {
  display: flex;
  flex-direction: column;
}

.lock-image {
  width: 18%;
  height: 18%;
}
