body{
  
    background: #074257;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
  color:white
}
input[name="email"]{
  width: 410px;
}
input[name="password"]{
  width: 410px;
}
input[name="confirm password"]{
  width: 410px;
}
input[name="security answer"]{
  width: 410px;
}
.split {
  height: 100% ;
    width: 50%;
   position: fixed;
       /* z-index: 1; */
    top: 0;
    overflow-x: hidden;
  }
input[name="Sign Up"]
  {
    background-color: #03774d;
    border: none;
    color: white;
    /* padding: 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    width: 250px;
    
    height: 40px;
    margin-left:100px;
  margin-top: 30px;
    
  }
  .left {
    /* margin: 75px; */

    left:75px;
    top: 20px;
    
  }
  
  .right {
    right: 0;
  }
  .image{
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .btn {
    cursor: pointer;
    border: none;
    background: none;
    width: 20px;
    height: 20px;
  }
  input[type="submit"].btn:hover {
    border: 1px solid black;
  }

button
{
  background-color: #03774d;
  border: none;
  color: white;
  /* padding: 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  width: 150px;

  height: 40px;
  margin: 30px 50px 30px 0px;

}

.tab {
  display: none;
}
