body {
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  display: flex;
  margin-top: 80px !important;
  margin: 0 auto;
  max-width: 1600px;
}
.left {
  padding: 10px 20px;
  flex: 1 1 70%;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px -7px rgb(0 0 0 / 75%);
  background: #eeecf5;
  color: black;
  height: 20rem;
}
.right {
  padding: 10px 20px;
  flex: 1 1 30%;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px -7px rgb(0 0 0 / 75%);
  background: #eeecf5;
  color: black;
  min-height: 20rem;
}
.btn {
  background-color: #002244;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  width: 250px;
  padding: 15px;
}
.btn:hover {
  border: 1px solid black;
}
.logo-container {
  text-align: center;
  margin-top: 25px;
  display: flex;
  margin-right: 25px;
  gap:30px;
  height: 180px;
}

