body {
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  margin-top: 80px !important;
  margin: 0 auto;
  max-width: 1600px;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin: 80px 100px;
}

.todoapp {
  padding: 10px 20px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px -7px rgb(0 0 0 / 75%);
  background: #eeecf5;
  color: black;
  display: flex;
  justify-content: space-between;
}

.todoappLeft {
  flex: 0 0 60%;
}

.todoappRight {
  flex: 0 0 30%;
  margin: auto 0;
}

.field-set-override {
  gap: 20px;
  font-size: 25px;
  margin-bottom: 2em;
  border-color: darkgray;
  border-width: 1px;
}

input[type="radio"] {
  height: 20px;
  width: 20px;
}

input[type="submit"].btn:hover {
  border: 1px solid black;
}

.input-adjust {
  display: flex;
  margin: 20px 0;
}

input[name="name"] {
  width: 500px;
  min-height: 30px;
}

.btn {
  background-color: #002244;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  width: 150px;
  height: 40px;
  margin-left: 100px;
  cursor: pointer;
}

.checkbox-size {
  width: 18px;
  height: 18px;
}

.todo-image {
  width: 100%;
  height: auto;
}
