<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Best Organizers</title>
        <link th:href="@{/css/home.css}" rel="stylesheet">
        <link th:href="@{/css/BestFiveOption.css}" rel="stylesheet">
        <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <th:block th:include="fragments/loggedInHeader :: loggedInHeader"></th:block>
        <div>
            <h1 style="text-align: center;">Best Organizers Options</h1>
        </div>
        <div class="container">
            <div class="left">
                <div class="tab">
                    <button class="links invisible" onclick="activeSelectedTab(event, 'Options')"  id="default">Options</button>
                </div>
                <div id="Options" class="content">
                    <th:block th:if="${#lists.isEmpty(bestFiveOptions)}">
                        <h5 style="color: red;">No options!</h5>
                    </th:block>
                    <th:block th:if="${not #lists.isEmpty(bestFiveOptions)}">
                        <div class="verticalTab" >
                            <div th:each="option, iter :${bestFiveOptions}">
                                <button class="verticalLinks" th:id="${iter.index} == 0 ? 'defaultOption'" th:attr = "onclick=|activeVerticalSelectedTab(event, 'Option_${option.id}')|" th:text="' Option - ' + ${option.id}"></button>
                            </div>
                        </div>
                        <th:block th:each="option, iter :${bestFiveOptions}">
                            <div th:attr="id=|Option_${option.id}|" class="verticalTabContent">
                                <h3 class="align-center" th:text="' Option - ' + ${option.id} + ' | overal score - ' + ${option.score}"></h3>
                                <hr>
                                <div class="align-box">
                                    <th:block th:each="service:${option.organizerServices}">
                                        <div class="align-box-content">
                                            <div class="box-content-header" th:text="' ' + ${service.serviceName} + ' by '+ ${service.organizerName}" />
                                            <p>
                                                <p th:text="'Score (of 10): ' + ${service.score} "/>
                                                <p th:text="'Budget: ' + ${service.budget} "/>
                                            </p>
                                        </div>
                                    </th:block>
                                </div>
                                <div class="align-center" style="margin: 50px 0 20px 0;">
                                    <form th:action="@{/acceptOption}" th:object="${option}" method="post">
                                        <input type="hidden" name="optionId" th:value="${option.id}"/>
                                        <button class="btn" type="submit">Choose</button>
                                    </form>
                                </div>
                            </div>
                        </th:block>
                    </th:block>
                </div>
            </div>
        </div>


        <script>
            function activeSelectedTab(event, selectedTab) {
              var tabIndex = 0;
              var content = document.getElementsByClassName("content");
              for (tabIndex = 0; tabIndex < content.length; tabIndex++) {
                content[tabIndex].style.display = "none";
              }
              var links = document.getElementsByClassName("links");
              for (tabIndex = 0; tabIndex < links.length; tabIndex++) {
                links[tabIndex].classList.remove("active");
              }
              document.getElementById(selectedTab).style.display = "flex";
              event.currentTarget.classList.add("active");
            document.getElementById("defaultOption").click();
            }

            function activeVerticalSelectedTab(event, selectedTab) {
              var vTabIndex = 0;
              var verticalTabContent = document.getElementsByClassName("verticalTabContent");
              for (vTabIndex = 0; vTabIndex < verticalTabContent.length; vTabIndex++) {
                verticalTabContent[vTabIndex].style.display = "none";
              }
              var verticalLinks = document.getElementsByClassName("verticalLinks");
              for (vTabIndex = 0; vTabIndex < verticalLinks.length; vTabIndex++) {
                verticalLinks[vTabIndex].classList.remove("active");
              }
              document.getElementById(selectedTab).style.display = "block";
              event.currentTarget.classList.add("active");
            }
            document.getElementById("default").click();

        </script>
    </body>
</html>