<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Contact Us - Event Fiesta</title>
    <link th:href="@{/css/home.css}" rel="stylesheet" />
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon" />
</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>
<div>
    <div class="logo-text">
        <div class="heading">Contact Event Fiesta</div>
        <div class="sub-heading">Customer Service</div>
        <div class="sub-heading">+1 (902)-999-9999</div>
        <div class="sub-heading">Write to us on:</div>
        <div class="sub-heading">event.fiesta.ca@gmail.com</div>
    </div>
    <img th:src="@{/images/homepage.jpg}" class="image" />
</div>
</body>
</html>
