<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Event Details</title>
    <link th:href="@{/css/home.css}" rel="stylesheet">
    <link th:href="@{/css/UserEventExtendedDetails.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
    <style>
        .fcc-btn {
  background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  width: 200;
}
    </style>
</head>
<body>
<th:block th:include="fragments/loggedInHeader :: loggedInHeader"></th:block>
<div class="container">

    <h1 style="text-align: center;">Your download is ready</h1>
    <a class ="fcc-btn" th:href="@{images/generatedEInvite.jpg}" download="Einvite.jpg">Download Image</a>
    <a  th:href="@{/userHome}">Home</a>
    <br>

    <img src="../static/images/generatedEInvite.jpg" th:src="@{images/generatedEInvite.jpg}">

</div>
</script>
</body>
</html>