<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Einvite</title>
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
    <link th:href="@{/css/UserEventExtendedDetails.css}" rel="stylesheet">
    <link th:href="@{/css/home.css}" rel="stylesheet">
    <style>
        .button {
    background-color: #4CAF50; /* Green */
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
    font-size: 16px;
        }
    </style>
</head>
<body>
    <th:block th:include="fragments/loggedInHeader :: loggedInHeader"></th:block>
<div class="container">

        <p><span style="font-size:38px;">Design you Electronic Invite</span></p>
        <form th:action="@{/handleInvite}" th:object="${eInviteModel}" method="post">
            <p>What should we call this event?</p>
            <input maxlength="20" name="ceremonyName" required="required" type="text"
            th:field="*{ceremonyName}" />   <br> <br>
            <p>Event Host name</p>
            <input maxlength="20" name="eventHost1" required="required" type="text" th:field="*{eventHost1}" />  <br> <br>
            <p>Event Host name 2 (optional)</p>
        <input maxlength="20" name="eventHost2" type="text" th:field="*{eventHost2}" />    <br> <br> 
        <p>Time for guests to arrive.</p>
        <input maxlength="20" name="timeOfEvent" type="datetime-local" th:field="*{timeOfEvent}"  >
       <br><br>
            <p><input class="button" name="Sign Up" type="submit" value="Generate Einvite" /></p>
            
        </form>

</div>

</body>
</html>
