<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Group 11 project - Event Fiesta</title>
    <link th:href="@{/css/home.css}" rel="stylesheet" />
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon" />
</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>
<div>
    <div class="logo-text">
        <div class="heading">BEST EVENT PLANNER IN CANADA</div>
        <div class="sub-heading">Let's Make Your Dream a Reality</div>
        <div class="content-text">
            We at Event Fiesta provides event planning from setting
        </div>
        <div class="content-text">
            up venues to decoration to sending E-invites and organising guest
            lists.
        </div>
        <div class="content-text">
            Our team of expert planners will help you enjoy the event.
        </div>
    </div>
    <img th:src="@{/images/homepage.jpg}" class="image" />
</div>
</body>
</html>
