
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Organizer - Enter OTP</title>
    <link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
<div class="login_container">

    <div class="split-50w left">

        <div th:if="${statusMsg} != null">
            <p style="color: green" data-th-text="${statusMsg}"/>
        </div>

        <form th:action="@{/organizerValidateOTP}" th:object="${organizer}" method="post">

            <p>Enter OTP*</p>
            <p><input  type="hidden" th:field="*{isOrganizer}" /></p>
            <p><input  type="hidden" th:field="*{email}" /></p>
            <p><input  type="hidden" th:field="*{accountId}" /></p>

            <p><input  class= "w-410" maxlength="25" name="password" type="password" th:field="*{otp}" /></p>

            <p><input class="btn submitButton"name="Login" type="submit" value="Validate" /></p>
        </form>

        <p>Retry&nbsp;<a href="/organizerLogin"> login</a></p>
        <p><a href="/home">Back to Home</a></p>
    </div>

    <div class="split-50w right">
        <img th:src="@{/images/signupimage.jpg}" class="image">
    </div>

</div>
</body>
</html>