<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Security Questions</title>
    <link th:href="@{/css/securityQuestion.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
</head>
<body>
<div>
    <div class="split left">
        <div class="left-container">
            <p class="image-align">
            <div style="text-align: center;">
                <img th:src="@{/images/reset-password-icon.svg}" class="lock-image">
            </div>
            <span style="font-size:38px;">Security Questions</span>
            </p>
            <form th:action="@{/handleOrganizerSecurityQuestion}" method="post" th:object="${organizer}">
                <p>Enter your registered Email Address</p>
                <p><input maxlength="50" name="email" type="email" required th:value="*{email}"/></p>
                <p>Select your Security Question</p>
                <select title="security question"  class="dropdown" name="securityanswer" required th:field="*{securityQuestion}">
                    <option value="What is your fathers middle name?">What is your fathers middle name?</option>
                    <option value="What is your wife's full name?">What is your wife's full name?</option>
                </select>
                <p>Enter your Security Answer</p>
                <p><input maxlength="50" name="securityanswer" type="text" required th:field="*{securityAnswer}"/></p>
                <p><input class="btn" name="Login" type="submit" value="Continue"/></p>
            </form>
            <p><a href="/home">Back to Home</a></p>
            <div th:if="${statusMsg} != null">
                <p style="color: red" data-th-text="${statusMsg}"/>
            </div>
        </div>
    </div>
    <div class="split right">
        <img th:src="@{/images/forgotpassword.png}" class="image">
    </div>
</div>
</body>
</html>
