<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link th:href="@{/css/signup.css}" rel="stylesheet">

</head>
<body>
<div class="orgsignupcontainer">
    <div class="split left">

        <p>Join our beloved community</p>

        <p><span style="font-size:38px;">Create an account</span></p>

        <p>Already a member?&nbsp;<a href="/signin">Sign In</a></p>

        <form id="regForm" th:action="@{/handleOrgSignUp}" th:object="${organizer}" method="post">
            <div class="tab">
                <p>Name of Your Business*</p>

                <p><input maxlength="50" name="business" type="text" th:field="*{business}"/></p>

                <p>First name*&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Last name*</p>

                <p><input maxlength="20" name="First name" required="required" type="text" th:field="*{firstName}"/>&nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input maxlength="25" name="last name"
                                                                                  required="required" type="text"
                                                                                  th:field="*{lastName}"/></p>

                <p>Email*</p>

                <p><input maxlength="50" name="email" type="email" th:field="*{email}"/></p>

                <p>Password*</p>

                <p><input maxlength="25" name="password" type="password" th:field="*{password}"/></p>

                <p>Confirm Password*</p>

                <p><input maxlength="25" name="confirm password" required="required" type="text"/></p>



            </div>

            <div class = "tab">
                <p>Tell us more about your business</p>
                <p>What service(s) your business offers?*</p>

                <p><input maxlength="50" id="eventspace" value="eventspace" name="service" type="checkbox" th:field="*{service}"/>
                <label for="eventspace"> Event Space</label>
                <input maxlength="50" id="catering" value="catering" name="service" type="checkbox" th:field="*{service}"/>
                <label for="catering"> Catering</label><br></p>
                <p><input maxlength="50" id="decoration" value="decoration" name="service" type="checkbox" th:field="*{service}"/>
                <label for="decoration"> Decoration</label>
                <input maxlength="50" id="others" value="others" name="service" type="checkbox" th:field="*{service}"/>
                <label for="others"> Others</label><br></p>

                <p>Approximate charge of Service*</p>

                <p><input maxlength="50" name="charge" type="text" th:field="*{charge}"/></p>

                <p>Business Number *</p>

                <p><input maxlength="50" name="businessNo" type="text" th:field="*{businessNo}"/></p>

                <p>Registered Address*&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;City*</p>

                <p><input maxlength="50" name="address" type="text" th:field="*{address}"/>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input maxlength="25" name="city" required="required" type="text" th:field="*{city}"/></p>

                <p>Province*&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Pincode*</p>

                <p><input maxlength="50" name="province" type="text" th:field="*{province}"/>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input maxlength="25" name="pincode" required="required" type="text" th:field="*{pincode}"/></p>
            </div>

            <div class = "tab">

                <p>Just a few more details:></p>
                <p>What time is appropriate to contact you?*</p>
                <input type="datetime-local" name="fromcontact" th:field="*{fromcontact}"/> to <input type="datetime-local" name="tocontact" th:field="*{tocontact}"/>

                <p>Any other details you wish to share?</p>
<!--                <input type="text" name="otherdetails" id="otherdetails" />-->
            </div>

            <div>

                <button id="prevBtn" value="Previous" onclick="nextPrev(-1)">Previous</button>
                <button id="nextBtn" value="Next" onclick="nextPrev(1)">Next</button>

            </div>

        </form>
    </div>
    <div class="split right">
        <img th:src="@{/images/signupimage.jpg}" class="image">
    </div>
    <script type="text/javascript" th:src="@{/script/signup.js}"></script>
</div>
</body>
</html>