<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Event Details</title>
    <link th:href="@{/css/home.css}" rel="stylesheet">
    <link th:href="@{/css/UserEventChecklist.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
</head>
<body>
<th:block th:include="fragments/loggedInHeader :: loggedInHeader"></th:block>

<div class="container">
    <h1 style="text-align: center;">Add / Manage TODO Checklist
        <input class="btn" name="add" type="submit" value="Add"/>  <a th:href="@{'/userMyEventDetails?eventId=' + ${eventId}}"><input class="btn" name="back" type="submit" value="Back To Event Details" /></a>
    </h1>

    <div class="todoapp">
        <div class="todoappLeft">
            <div>
                <h2>Use the tools below to manage your todo list.</h2>
                <h4>By pressing Add Button, the todo item will be added to the list.</h4>
                <h4>The todo item will be completed by checking the checkbox and removing it from the list.</h4>
            </div>
            <form th:action="@{/todo/add}" th:method="post" th:object="${todoItem}">
                <label>Please Enter the Description to add ToDo Item</label>
                <div class="input-adjust">
                    <input class="new-todo" name="name" placeholder="Add Description" th:field="*{name}">
                </div>
            </form>
            <section class="main">
                <form th:action="@{/todo/remove}" th:method="post" th:object="${todoItem}">
                    <fieldset class="field-set-override" aria-required="true">
                        <legend>Todo Checklist:</legend>
                        <div class="view" th:each="item : ${todoList}" th:if="${!todoList.isEmpty()}">
                            <input class="checkbox-size" type="checkbox" onchange="this.form.submit()"
                                   th:field="*{id}" th:value="${item.id}">
                            <label th:text="${item.name}"/>
                        </div>
                        <p th:if="${todoList.isEmpty()}">
                            Please add todo item(s).
                        </p>
                    </fieldset>
                </form>
            </section>
        </div>
        <div class="todoappRight">
            <img th:src="@{/images/todo.jpg}" class="todo-image">
        </div>
    </div>
</div>
</body>
</html>
