
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User - Forgot password - OTP</title>
  <link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
<div class="login_container">

  <div class="split-50w left">


    <form th:action="@{/userGetOTP}" th:object="${user}" method="post">

      <p>Email*</p>
      <p><input  type="hidden" th:field="*{isOrganizer}" /></p>
      <p><input class= "w-410" maxlength="50" name="email" type="email" th:field="*{email}" /></p>

      <div th:if="${statusMsg} != null">
        <p style="color: red" data-th-text="${statusMsg}"/>
      </div>

      <div th:if="${statusMsg} != null">
        <p style="color: red" data-th-text="${statusMsg}"/>
      </div>

      <p><input class="btn submitButton"name="Login" type="submit" value="Get OTP" /></p>
    </form>

    <p>Retry&nbsp;<a href="/userLogin"> login</a></p>
    <p><a href="/home">Back to Home</a></p>

  </div>

  <div class="split-50w right">
    <img th:src="@{/images/signupimage.jpg}" class="image">
  </div>

</div>
</body>
</html>