<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Event Details</title>
    <link th:href="@{/css/home.css}" rel="stylesheet">
    <link th:href="@{/css/UserEventDetails.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
</head>
<body>
<th:block th:include="fragments/loggedInHeader :: loggedInHeader"></th:block>
<div class="container">
    <h1 style="text-align: center;">Event Details</h1>
    <form th:action="@{/handleAddUserEvents}" th:object="${userEventQuestionnaire}" method="post" class="form-container">
    <div>
        <fieldset class="field-set-override">
            <legend>Please select an Event:</legend>
            <div>
                <input type="radio" id="Birthday" value="Birthday" name="event" th:field="*{event}" required>
                <label for="Birthday">Birthday</label>
            </div>
            <div>
                <input type="radio" id="Wedding" value="Wedding" name="event" th:field="*{event}" required>
                <label for="Wedding">Wedding</label>
            </div>
            <div>
                <input type="radio" id="Anniversary" value="Anniversary" name="event" th:field="*{event}" required>
                <label for="Anniversary">Anniversary</label>
            </div>
            <div>
                <input type="radio" id="BabyShower" value="BabyShower" name="event" th:field="*{event}" required>
                <label for="BabyShower">Baby Shower</label>
            </div>
            <div>
                <input type="radio" id="OfficeParty" value="OfficeParty" name="event" th:field="*{event}" required>
                <label for="OfficeParty">Office Party</label>
            </div>
        </fieldset>
    </div>
    <div>
        <fieldset class="field-set-override">
            <legend>Please select Province:</legend>
            <select title="province"  class="dropdown" th:field="*{province}" required>
                <option value=""></option>
                <option value="NS">Nova Scotia</option>
            </select>
        </fieldset>
    </div>
    <div>
        <fieldset class="field-set-override">
            <legend>Please select City:</legend>
            <select title="city"  class="dropdown" th:field="*{city}" required>
                <option value=""></option>
                <option value="Halifax">Halifax</option>
                <option value="Sydney">Sydney</option>
            </select>
        </fieldset>
    </div>
    <div>
        <fieldset class="field-set-override">
            <legend>Please select Date and time:</legend>
            <input type="datetime-local" name="eventdatetime" class="date-format" th:field="*{dateTime}" required>
        </fieldset>
    </div>
        <div style="text-align: end;"><input class="btn" name="Proceed" type="submit" value="Proceed"/></div>
    </form>
</div>
</body>
</html>