<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link th:href="@{/css/forgotPassword.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
</head>
<body>
<div>
    <div class="split left">
        <div class="left-container">
            <p class="image-align">
                <div style="text-align: center;">
                    <img th:src="@{/images/forgot-password-icon.png}" class="lock-image">
                </div>
                <span style="font-size:38px;">Forgot Password ?</span>
            </p>

            <form th:action="@{/UserForgotPasswordOTP}" method="get">
                <p><input class="btn" name="Login" type="submit" value="OTP" /></p>
            </form>
            <form th:action="@{/handleUserForgotPasswordWithSecurityQuestion}" method="post">
                <p><input class="btn" name="Login" type="submit" value="Security Question" /></p>
            </form>
            <p>Already a member? <a href="/userLogin">Sign In</a></p>
            <p>Are you a vendor? Try <a href="/organizerLogin">Organizer Login</a></p>
            <p><a href="/home">Back to Home</a></p>

        </div>
    </div>
    <div class="split right">
        <img th:src="@{/images/forgotpassword.png}" class="image">
    </div>
</div>
</body>
</html>
