<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Events</title>
    <link th:href="@{/css/home.css}" rel="stylesheet">
    <link th:href="@{/css/UserHomepage.css}" rel="stylesheet">
</head>
<body>
<th:block th:include="fragments/loggedInHeader :: loggedInHeader"></th:block>
<h1 style="text-align: center;">Your Events</h1>
<a th:href="@{'/userHome'}"><input class="btn" name="back" type="submit" value="Back To Home" /></a>
<div class = "container">
    <table>
        <thead>
        <tr>
            <th> Events </th>
            <th> Services </th>
            <th> Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${events.isEmpty()}">
            <td colspan="2"> No Events Executed. </td>
        </tr>
        <tr th:each="event : ${events}">
            <td><a th:href="@{'/userMyEventDetails?eventId=' + ${event.eventId}}"><span th:text="${event.eventType}" /></a></td>
            <td>
                <ul th:each="service : ${event.services}">
                    <li th:text="${service.serviceType}"></li>
                </ul>
            </td>
            <td>
                <ul th:each="service : ${event.services}">
                    <li th:text="${service.status}"></li>
                </ul>
            </td>
            <td>
                <ul th:each="service : ${event.services}">
                    <li> <span th:if="${service.status}=='Complete'"><a th:href="@{'/userMyEventFeedback?eventId=' + ${event.eventId} + '&serviceId=' + ${service.serviceId} + '&serviceType=' + ${service.serviceType}}">Click here to provide feedback</a></span></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>