<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link th:href="@{/css/resetPassword.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
</head>
<body>
<div>
    <div class="split left">
        <div class="left-container">
            <p class="image-align">
            <div style="text-align: center;">
                <img th:src="@{/images/reset-password-icon.svg}" class="lock-image">
            </div>
            <span style="font-size:38px;">Reset your Password ?</span>
            </p>
            <form th:action="@{/handleUserResetPassword}" method="post" th:object="${user}">
                <p>New Password</p>
                <p><input maxlength="50" name="newPassword" type="password" required th:field="*{password}"/></p>
                <p>Confirm Password</p>
                <p><input maxlength="50" name="confirmPassword" type="password" required th:field="*{confirmPassword}"/></p>
                <input type="hidden" th:field="*{userId}">
                <input type="hidden" th:field="*{email}">
                <p><input class="btn" name="Login" type="submit" value="Change Password"/></p>
            </form>
            <div th:if="${statusMsg} != null">
                <p style="color: red" data-th-text="${statusMsg}"/>
            </div>
            <p><a href="/userLogin">Sign In</a></p>
            <p><a href="/home">Back to Home</a></p>
        </div>

    </div>
    <div class="split right">
        <img th:src="@{/images/forgotpassword.png}" class="image">
    </div>
</div>
</body>
</html>
